div
  .material-list
    ul
      li(ng-repeat="item in materials")
        img(ng-src='{{item.src}}', ng-click='materialSelect(item)')
  div.btn.btn-primary.btn-upload.upload(upload-button='', url='/upload', param='image', on-success='onSuccess(response)') 上传图片素材
