.container
  div(ng-include="'components/navbar/navbar.html'")

  .row
    .col-md-5
      .btn-group
        button.btn.btn-primary(ng-click="drawData.tool='pointer'") 指针
        button.btn.btn-primary(ng-click="drawData.tool='line'") 线条
        button.btn.btn-primary(ng-click="drawData.tool='straight'") 直线
        button.btn.btn-primary(ng-click="drawData.tool='rect'") 方框
        button.btn.btn-primary(ng-click="drawData.tool='oval'") 圆圈
        button.btn.btn-primary(ng-click="drawData.tool='arrow'") 箭头
        button.btn.btn-primary(ng-click="drawData.tool='text'", ng-popover="components/textInput/template.html", placement="bottom") 文字

    .col-md-3
      .btn-group
        button.btn.btn-primary(ng-click="drawData.clear=true") 清除
        button.btn.btn-primary(ng-click="drawData.tool='erase'") 擦除
        button.btn.btn-primary(ng-click="drawData.tool='clearRect'") 框选

    .col-md-2
      .btn-group
        button.btn.btn-primary(colorpicker="", colorpicker-position="bottom", ng-model="drawData.bgColor") 背景颜色
        button.btn.btn-primary(colorpicker="", colorpicker-position="bottom", ng-model="drawData.strokeColor") 笔触颜色

    .col-md-2
      div(range-slider="", min="0", max="10", model-min="0", model-max="drawData.strokeWidth", pin-handle="min", disabled="false", show-values="true")

  .row
    .col-md-12
      painter(data='drawData')

  hr
  .footer
    p
      | With ♥ from 
      a(href='https://weibo.com/maxgeek') @Max-Geek
