.container
  div(ng-include="'components/navbar/navbar.html'")

  .row
    .col-md-12
      .btn-group
        button.btn.btn-primary(ng-click="toolType='line'") 线条
        button.btn.btn-primary(ng-click="toolType='straight'") 直线

  .row
    .col-md-12
      painter(data='drawData', tool='{{toolType}}')

  hr
  .footer
    p
      | With ♥ from 
      a(href='https://weibo.com/maxgeek') @Max-Geek
