.container
  div(ng-include="'components/navbar/navbar.html'")

  .row
    .col-md-12
      painter(data='drawData')

  hr
  .footer
    p
      | With ♥ from 
      a(href='https://weibo.com/maxgeek') @Max-Geek
