nav.navbar.navbar-static-top.navbar-inverse(ng-controller='NavbarCtrl')
  .container-fluid
    .navbar-header
      a.navbar-brand(href='https://github.com/Swiip/generator-gulp-angular')
        span.glyphicon.glyphicon-home
        |  Gulp Angular
    #bs-example-navbar-collapse-6.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.active
          a(ng-href='#') Home
        li
          a(ng-href='#') About
        li
          a(ng-href='#') Contact
      ul.nav.navbar-nav.navbar-right
        li Current date: {{ date | date:'yyyy-MM-dd' }}
