nav.navbar.navbar-static-top.navbar-inverse(ng-controller='NavbarCtrl')
  .container-fluid
    .navbar-header
      a.navbar-brand(href='https://github.com/maxjchuang/nodePainter')
        span.glyphicon.glyphicon-home
        |  nodePainter
    #bs-example-navbar-collapse-6.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.active
          a(ng-href='#') 本地画板
      ul.nav.navbar-nav.navbar-right
        li
          a 进入房间
        li
          a 创建房间
