.painter
  .back
    ng-canvas(data='backData')
  .middle
    ng-canvas(data='middleData')
  .front(ng-mousemove="mouseMove($event)", ng-mousedown="mouseDown($event)", ng-mouseup="mouseUp($event)")
    ng-canvas(data='frontData')
